<h1>Editar Cliente</h1>

<%= render "form", client: @client %>


<div class="my-3">
  <%= link_to "Mostrar cliente", @client, class:"btn btn-primary btn-sm" %> |
  <%= link_to "Volver a lista de clientes", clients_path, class:"btn btn-info btn-sm" %>
</div>
